main.vehicle-sleep {
    .card-header {
        padding: 0 !important;

        .text-gray {
            color: #6c7293 !important;
        }
        .h5 {
            padding-left: 1.5rem;
            padding-right: 1rem;
            padding-top: 0.7rem;   
            padding-bottom: 0rem;
        }
    }
    .card-body {
        color: #737682;
        font-weight: 400;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
        padding-bottom: 1.5rem !important;

        td {
            vertical-align: top !important;

            .form-switch {
                margin: 0;
            }
        }
    }
}