footer {
    flex-shrink: 0;

    .top{
        padding: 2rem 0;
        background-color: #1D1E2C;

        @media (max-width: 840px) {
            padding: 2rem 5%;
        }
    }
    .bottom {
        padding: 1rem 0;
        background-color: #181824;

        .link {
            color: #1b88d6;
        }
        @media (max-width: 840px) {
            padding: 1rem 5%;
            text-align: center !important;

            .text-right {
                text-align: center;
            }
        }
    }
}