header {
    margin-bottom: 1.5rem;
    padding-top: 0.7rem;

    .column {
        padding: 0px !important;
    }
    a.navbar-brand{
        font-size: 25px !important;
        font-weight: 500;
    }
    .header {
        margin-bottom: 1rem;
        margin-left: auto !important;
        margin-right: auto !important;

        .user {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        .text-gray {
            color: #636670 !important;
        }
        .menu {
            min-width: 60px !important;
            li {
                cursor: pointer;
            }
        }
    }
    .navigation {
        background-color: white;
        padding-top: 18px;
        padding-bottom: 18px;

        a {
            border-radius: 4px;
            color: #636670 !important;
            padding-left: 15px;
            padding-right: 15px;
        }
        a:hover {
            color: #1765A4 !important;
            background-color: #F2F3F8;
            border-color: #F2F3F8;
        }
        a.active {
            color: #1765A4 !important;
            background-color: #e4f0fe;
            border-color: #e4f0fe;
        }
        .info {
            font-size: 1rem;
            font-weight: 500;
            color: #636670;
        }
    }
    .text-gray {
        color: rgb(136, 136, 136) !important;
    }
}