$primary-color: rgb(22, 101, 165);

// Variables and mixins
@import "node_modules/spectre.css/src/variables";
@import "node_modules/spectre.css/src/mixins";

// Reset and dependencies
@import "node_modules/spectre.css/src/normalize";
@import "node_modules/spectre.css/src/base";

// Elements
@import "node_modules/spectre.css/src/typography";
@import "node_modules/spectre.css/src/tables";
@import "node_modules/spectre.css/src/buttons";
@import "node_modules/spectre.css/src/forms";
@import "node_modules/spectre.css/src/labels";

// Layout
@import "node_modules/spectre.css/src/layout";
@import "node_modules/spectre.css/src/navbar";
@import "node_modules/spectre.css/src/navs";

// Components
@import "node_modules/spectre.css/src/icons";
@import "node_modules/spectre.css/src/toasts";
@import "node_modules/spectre.css/src/cards";
@import "node_modules/spectre.css/src/empty";
@import "node_modules/spectre.css/src/modals";
@import "node_modules/spectre.css/src/dropdowns";
@import "node_modules/spectre.css/src/menus";
@import "node_modules/spectre.css/src/tooltips";

// Utility classes
@import "node_modules/spectre.css/src/animations";
@import "node_modules/spectre.css/src/utilities";

// Icons
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";

/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/poppins-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Poppins Regular'), local('Poppins-Regular'),
       url('./fonts/poppins-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/poppins-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/poppins-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/poppins-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/poppins-v6-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/poppins-v6-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Poppins Medium'), local('Poppins-Medium'),
       url('./fonts/poppins-v6-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/poppins-v6-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/poppins-v6-latin-500.woff') format('woff'), /* Modern Browsers */
       url('./fonts/poppins-v6-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/poppins-v6-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/poppins-v6-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Poppins Bold'), local('Poppins-Bold'),
       url('./fonts/poppins-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/poppins-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/poppins-v6-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./fonts/poppins-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/poppins-v6-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}

body {
  background-color: #F2F3F8;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;

  a:active, a:hover, a:focus {
    text-decoration: none;
  }

  #app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    header, footer {
      flex: none;
    }
    main {
      flex: 1 0 auto;
      margin-bottom: 50px;
  
      .form-input-hint {
        margin: 0.2rem 0 !important;
      }
  
      @media (max-width: 480px) {
        .col-xs-12 {
            margin-bottom: 10px !important;
        }
      }
    }
  }

  .mr-3{
    margin-right: 15px;
  }

  .mt-4{
    margin-top: 15px;
  }

  .ml-4{
    margin-left: 15px;
  }

  .mt-5 {
    margin-top: 30px;
  }

  .mt-10 {
    margin-top: 60px;
  }

  .mb-5 {
    margin-bottom: 30px;
  }

  .pb-5 {
    padding-bottom: 30px;
  }

  .toast {
    position: fixed;
    right: 20px;
    top: 50px;
    z-index: 1000;
    width: auto;
    padding-left: 15px;
  }
}