main.login {
    .card-header {
        padding: 0 !important;

        .text-gray {
            color: #6c7293 !important;
        }
        .h5 {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            padding-top: 0.6rem;   
            padding-bottom: 0.4rem;
        }
    }
    .card-body {
        text-align: justify !important;
        padding-left: 6rem !important;
        padding-right: 6rem !important;
        padding-top: 1rem !important;
        padding-bottom: 2rem !important;
        font-size: 16px;

        @media (max-width: 480px) {
            padding: 1rem !important;
        }

        button {
            width: 100%;
        }
    }
}